@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: black;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
}

.brand-logo-name {
  margin-left: 0.7rem;
}

.main-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
  padding: 0.7rem;
}

.main-header a {
  color: inherit;
  text-decoration: none;
}

.main-nav a:hover {
  color: #adadad;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

.btn {
  color: white;
  background-color: #1762A7;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #2180d8;
}

.btn:focus {
  background-color: #2796ff;
}

.join-login-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.join-login-text {
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
}

.accent-text {
  color: #BC3A80;
}

.join-login-form {
  background-color: #202027;
  width: 50vw;
  max-width: 50%;
  padding: 2rem 4rem;
  border-radius: 20px;
}

.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.input-group:last-child {
  margin-bottom: 0;
}

.input-group label {
  font-weight: bold;
  margin-bottom: .5rem;
}

.input-group input {
  outline: none;
  background: none;
  border: 1px solid #374669;
  font-size: 1em;
  padding: .5em;
  color: inherit;
  border-radius: 5px;
}

.input-group input:focus {
  border-color: #596da0;
}

@media (max-width: 900px) {
  .join-login-main-section {
    flex-direction: column;
    justify-content: center;
  }

  .join-login-form {
    width: 80vw;
    max-width: inherit;
    margin: 2rem 0;
  }
}

#books .book-details-link:hover {
  cursor: pointer;
  background: rgb(108, 70, 158);
}

#books .book-details-link {
  position:relative;
  visibility: hidden;
  top: -21%;
  background: #58f;
  border-radius: .3em;
  color: white;
  border: none;
  padding: .5em 2em;
  margin: 1em 0;
}

#book .content {
  max-width: 90%;
  margin: 2em auto;
}

#book #book-detailed {
  display: grid;
  grid-template-areas: "img info";
  padding: 1em;
  background-color: #E9ECEF;
  border: 1px solid #333;
  border-radius: .3em;
  box-shadow: 0 0 17px 2px #333;
}

#book #book-detailed img {
  grid-area: img;
  margin: 1em;
  width: 100%;
  max-width: 400px;
}

#book #book-detailed #book-info {
  grid-area: info;
  border-left: 1px solid #333;
  padding: 1em;
  font-size: 1.2em;
}

.registration-page-bg-info {
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page-bg-info {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  box-shadow: 0px 0px 15px -5px black;
}

#reviews {
  margin: 20px;
  padding: 20px;
  display: inline-block;
  box-shadow: 0px 0px 15px -5px black;
  background-color: #E9ECEF;
  color: black;
  font-size: 1.2em;
  line-height: 1;
}

.Loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.Loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #58f;
  border-color: #58f transparent #58f transparent;
  animation: Loader 1.2s linear infinite;
}

@keyframes Loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.boxContainer {
  margin: auto;
  margin-top: 1%;
  position: relative;
  width: 300px;
  height: 42px;
  border: 4px solid #58f;
  padding: 0px 10px;
  border-radius: 50px;
}

.btnContainer {
  margin: auto;
  margin-top: 1.5%;
}

.elementsContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.search {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 18px;
  font-family: 'Cardo', serif;
  color: #424242;
  font-weight: 500;
}

.search:focus {
  outline: none;
}

.material-icons {
  font-size: 26;
  color: #58f;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 35%;
  border: 2.5px solid #007BFF;
  font-family: 'Cardo', serif;
  color: #007BFF !important;
  cursor: pointer;
  font-size: large;
}

.paginationBttns a:hover {
  color: white !important;
  background-color: #007BFF;
  text-decoration-line: none;
}

.paginationActive a {
  color: white !important;
  background-color: #007BFF;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.review-list {
  --spacer: 1rem;
  background: white;
}

.review-header {
  padding: var(--spacer);
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: white;
}

.list-title {
  margin: 0;
}

.review-body {
  padding: var(--spacer);
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

.review {
  position: relative;
}

.user-page-bg-info {
  padding: 45px;
  justify-content: center;
  align-items: center;
}

.form-box-profile {
  box-shadow: 0px 0px 15px -5px black;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: white;
  text-align: left;
}

.review-list-profile {
  --spacer: 1rem;
  background: #E9ECEF;
}

.review-list-profile-container {
  padding: 45px;
}

.review-body-profile {
  padding: var(--spacer);
  height: 390px;
  max-height: 390px;
  overflow-y: scroll;
}

.each-book {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  padding: 0.5px;
  margin: 5px 13.5px;
  background: #dadcdd;
  border-radius: 10px;
  position: relative;
  -webkit-transition: background 0.5s;
  -moz-transition:    background 0.5s;
  -ms-transition:     background 0.5s;
  -o-transition:      background 0.5s;
  transition:         background 0.5s;
}

#books .content>div img {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin: 5px 13.5px;
  background-color: #dadcdd;
  border-radius: 5px;
  position: relative;
}

.each-book:hover {
  max-width: 90%;
  background: #75757E;
  color: white;
}

.poster {
  border-radius: 5px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 2px 0;
}

#books .content {
  max-width: 90%;
  margin: 2em auto;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(4, 1fr);  
  grid-template-rows: auto;
  grid-row-gap: 1em;
}

#books .content>div {
  position: relative;
  margin: 0;
  text-align: center;
}

.btn-details:hover {
  background-color: rgb(108, 70, 158) !important;
  border-color: rgb(108, 70, 158) !important;
  border-radius: 5px !important;
}

.reviewBtns {
  padding: 5px 9px !important;
}

.book-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	transform: scale(1.05);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
  color: white;
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: 'Cardo', serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: black;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 3vw;
  }
}

.w3-container {
  padding: 160px 16px;
  background-image: url("./images/library-img.jpg");
}

.book-cover-size {
  max-height: 375px;
}

@media (min-width: 1680px) {
  .book-cover-size {
    max-height: 500px;
  }
}

.input-field {
  height: 100px !important;
  width: 300px !important;
}

#file {
  font-size: 16px;
  background: white;
  border-radius: 50px;
  box-shadow: 5px 5px 10px black;
  width: 350px;
  outline: none;
}

::-webkit-file-upload-button {
  color: white;
  background: #206a5d;
  padding: 8px;
  border: none;
  border-radius: 50px;
  box-shadow: 1px 0 1px 1px #6b4559;
  outline: none;
}

::-webkit-file-upload-button:hover {
  background: #438a5e;
}
